# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db
Desktop.ini

# ==========================
# Visual Studio Code
# ==========================

.vscode/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Temporary files
# ==========================

*.tmp
*.temp

# ==========================
# Future Node.js support
# ==========================

node_modules/
